<!-- <%= link_to image_tag('failure montain.jpg'), 'https://eydenv.github.io/yucatalks/' %> -->

<div class="jumbotron">
  <h1 class="display-4">Alpha Blog</h1>
  <p class="lead">This is a simple blog system to share the learnings that the failures and experiences have given you.</p>
  <%= link_to "Sign up now", "#", class: "btn btn-primary btn-lg"%>
</div>

