<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<!-- <%= link_to image_tag('failure montain.jpg'), 'https://eydenv.github.io/yucatalks/' %> -->

<%= link_to 'About', about_path %>
